/* resetCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #333;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

/*ヘッダー*/
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
}
.header__bg {
    position: relative;
    z-index: 2;
    padding: 30px;
}
.header__logo a {
    font-family: cursive;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
}
.header__cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.header__cat input,
.header__cat label {
    display: none;
}
.header__navi__list {
    display: flex;
}
.header__navi__item span {
    position: relative;
}
.header__navi__item span:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 1px;
    background: #333;
    opacity: 0;
    transition: all .8s cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.header__navi__item:hover span:after {
    opacity: 1;
    left: 0;
    width: 100%;
}
.header__navi a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    color: #333;
}
.mainKv {
    position: relative;
    background-image: url(../img/kv.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    min-height: 660px;
}
.mainKv__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.mainKv__title {
    font-family: fantasy;
    font-size: 5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Kalam', cursive;
    -webkit-animation: fadeIn 5s ease 0s 1 normal;
    animation: fadeIn 5s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
/* メインコンテンツ */
.mainContent {
    max-width: 1080px;
    margin: auto;
    padding: 120px 0 0;
}
.contents_title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 80px;
}
/* アバウト */
.about_wrapper {
    display: flex;
    flex-wrap: wrap;
} 
.about_img {
    width: 50%;
    text-align: center;
}
.about_img img{
    border-radius: 50%;
}    
.about_text {
    width: 50%;
    text-align: center;
    margin: auto;
}
.about_text h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}
.about_text p {
    font-size: .8rem;
}
/* スキル */
.skills_card {
    display: flex;
    flex-wrap: wrap;
}
.skills_card .skill {
    width: calc(100% / 4);
    text-align: center;
}
.skill {
    margin-bottom: 30px;
}
.skill img{
    width: 110px;
}
.skill p {
    font-size: 1.1rem;
    font-weight: bold;
}
/* ワークス */
.works_container {
    width: 100%;
}
.works_container ul {
    padding: 0;
}
.works_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.works_item {
    width: calc((100% / 2) - 15px);
    margin-bottom: 60px;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0px 3px 6px 0px #9E9E9E;
}
.works_item a {
    text-decoration: none;
}
.works_item img {
    width: 100%;
}
.works_wrapper {
    padding: 15px;
}
.works_title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.works_wrapper p {
    display: inline-block;
    color: #FFF;
    font-size: .8rem;
    padding: 7px;
    border-radius: 45%;
    margin-right: 10px;
}
.html_css {
    background-color: rgb(255, 139, 189);
}
.jQuery {
    background-color: rgb(255, 142, 94);
}
/*ワークス モーダル*/
.c-modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* 黒背景の設定 */
.c-modal_bg {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
}
/* ウィンドウの設定 */
.c-modal_content {
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow : auto;
    width: 70%;
    height: 85%;
}
.c-modal_content_inner {
    position: relative;
    padding: 24px;
}
.c-modal_content_inner img {
    margin-top: 30px;
    width: 100%;
}
.c-modal_content_inner h2 {
    font-size: 1.8rem;
    padding-left: 30px;
}
.c-modal_content_inner a {
    text-decoration: none;
}
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}
td {
    border-bottom: 1px solid #ebe8e8;
    width: 50%;
    font-size: 1.2rem;
    text-align: left;
}
td:first-child {
    width: 30%;
}
td:last-child {
    width: 70%;
}
table tr:last-child td {
    border:none;
}

tr > td, tr > td + td{
    padding: 30px;
}
td ul li{
    list-style: disc;
    list-style-position: inside;
}
.modal_list:hover {
    background-color: #ebe8e8;
    cursor: pointer;
}
/* 閉じるボタン */
.c-modal_close {
    position: absolute;
    top: 13px;
    right: 10px;
}
footer {
    background: #FFF;
}
footer p {
    text-align: center;
    font-size: .8rem;
}

  

