/* resetCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #333;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

/*ヘッダー*/
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
}
.header__bg {
    position: relative;
    z-index: 2;
    padding: 30px;
}
.header__cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.header__cat input,
.header__cat label {
    display: none;
}
.header__navi__list {
    display: flex;
}
.header__navi__item span {
    position: relative;
}
.header__navi__item span:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 1px;
    background: #333;
    opacity: 0;
    transition: all .8s cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.header__navi__item:hover span:after {
    opacity: 1;
    left: 0;
    width: 100%;
}
.header__navi a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    color: #333;
}
.mainKv {
    position: relative;
    background-image: url(../img/kv.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    min-height: 660px;
}
.mainKv__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.mainKv__title {
    font-family: fantasy;
    font-size: 5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Kalam', cursive;
    -webkit-animation: fadeIn 5s ease 0s 1 normal;
    animation: fadeIn 5s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
/* メインコンテンツ */
.mainContent {
    max-width: 1080px;
    margin: auto;
    padding: 120px 0 0;
}
.contents_title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 80px;
}
/* アバウト */
.about_wrapper {
    display: flex;
    flex-wrap: wrap;
} 
.about_img {
    width: 50%;
    text-align: center;
}
.about_img img{
    border-radius: 50%;
}    
.about_text {
    width: 50%;
    text-align: center;
    margin: auto;
}
.about_text h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}
.about_text p {
    font-size: .8rem;
}
/* スキル */
.skills_card {
    display: flex;
    flex-wrap: wrap;
}
.skills_card .skill {
    width: calc(100% / 4);
    text-align: center;
}
.skill {
    margin-bottom: 30px;
}
.skill img{
    width: 110px;
}
.skill p {
    font-size: 1.1rem;
    font-weight: bold;
}
/* ワークス */
.works_container {
    width: 100%;
}
.works_container ul {
    padding: 0;
}
.works_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.works_item {
    width: calc((100% / 2) - 15px);
    margin-bottom: 60px;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0px 3px 6px 0px #9E9E9E;
}
.works_item a {
    text-decoration: none;
}
.works_item img {
    width: 100%;
}
.works_wrapper {
    padding: 15px;
}
.works_title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.works_wrapper p {
    display: inline-block;
    color: #FFF;
    font-size: .8rem;
    padding: 7px;
    border-radius: 45%;
    margin-right: 10px;
}
.html_css {
    background-color: rgb(255, 139, 189);
}
.jQuery {
    background-color: rgb(255, 142, 94);
}
.react {
    background-color: rgb(137, 207, 235);
}
/*ワークス モーダル*/
.c-modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* 黒背景の設定 */
.c-modal_bg {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
}
/* ウィンドウの設定 */
.c-modal_content {
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow : auto;
    width: 70%;
    height: 85%;
}
.c-modal_content_inner {
    position: relative;
    padding: 24px;
}
.c-modal_content_inner img {
    margin-top: 30px;
    width: 100%;
}
.c-modal_content_inner h2 {
    font-size: 1.8rem;
    padding-left: 30px;
}
.c-modal_content_inner a {
    text-decoration: none;
}
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}
td {
    border-bottom: 1px solid #ebe8e8;
    width: 50%;
    font-size: 1.2rem;
    text-align: left;
}
td:first-child {
    width: 30%;
}
td:last-child {
    width: 70%;
}
table tr:last-child td {
    border:none;
}
tr > td, tr > td + td{
    padding: 30px;
}
td ul li{
    list-style: disc;
    list-style-position: inside;
}
.modal_list:hover {
    background-color: #ebe8e8;
    cursor: pointer;
}
/* 背景を固定する */
body.fixed {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
}
/* 閉じるボタン */
.c-modal_close {
    position: absolute;
    top: 13px;
    right: 10px;
}
footer {
    background: #FFF;
}
footer p {
    text-align: center;
    font-size: .8rem;
}
[data-fadeIn] {
    opacity: 0;
    transition: all 1.6s;
    transform: translateY(100px);
}
[data-fadeIn].is-over {
    opacity: 1;
    transform: translateY(0);
}
/* レスポンシブ */
@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }
    /* ヘッダー */
    .header__bg {
        padding: 10px;
        height: 50px;
    }
    /* ヘッダーハンバーガーメニュー */
    .header__cat input,
    .header__cat label {
        display: block;
    }
    .header__cat input {
        display: none;
    }
    .header__cat label {
        position: absolute;
        right: 10px;
        clear: both;
        margin-top: 10px;
    }
    span.hamburger__icon {
        display: inline-block;
        width: 35px;
        height: 25px;
    }
    span.hamburger__icon i {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333f;
        display: block;
        transition: all .3s ease-in-out;
    }
    span.hamburger__icon i:nth-child(1) {
        top: 0;
    }
    span.hamburger__icon i:nth-child(2) {
        margin: auto;
        top: 0;
        bottom: 0;
    }
    span.hamburger__icon i:nth-child(3) {
        bottom: 0;
    }
    .header__cat input:checked + label span.hamburger__icon i:nth-child(1) {
        margin: auto;
        transform: rotate(45deg);
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
    }
    .header__cat input:checked + label span.hamburger__icon i:nth-child(2) {
        transform: rotateX(90deg);
        top: 0;
        bottom: 0;
    }
    .header__cat input:checked + label span.hamburger__icon i:nth-child(3) {
        margin: auto;
        transform: rotate(-45deg);
        top: 0;
        right: 0;
        bottom: 0;
    }
    .header__cat input:checked ~ .header__navi {
        z-index: 99;
        opacity: 1;
        transform: translateX(0);
    }
    .header__navi {
        position: fixed;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.7);
        top: 50px;
        right: 0;
        transform: translateX(100%);
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: all 1s ease-out;
    }
    .header__navi__wrap {
        width: 100%;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0px;
        bottom: 0;
        transition-duration: 1s;
        transition-property: right;
        overflow-y: scroll;
    }
    .header__cat input:checked ~ .header__navi .header__navi__wrap {
        right: 0;
    }
    .header__navi__list {
        margin: 0;
        display: block;
        justify-content: inherit;
    }
    .header__navi__item a {
        padding: 0 50px;
        color: #000;
        font-size: 24px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-weight: 700;
        line-height: 1;
        transition: background-color .3s ease-in-out;
    }
    .mainKv {
        height: 100vh;
        background-position: center right -200px;
    }
    .mainKv__title {
        width: 100%;
        text-align: center;
        font-size: 2.6rem;
    }
    /* メインコンテンツ */
    .mainContent__inner {
        padding: 60px 24px 0;
    }
    .contents_title {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 60px;
        padding-top: 80px;
    }
    /* アバウト */
    .about_wrapper {
        display: block;
    } 
    .about_img {
        width: 100%;
        margin-bottom: 15px;
    }
    .about_text {
        width: 100%;
    }
    /* スキル */
    .skills_card .skill {
        width: calc(100% / 2);
    }
    .skill img{
        width: 85px;
    }
    .skill p {
        font-size: .8rem;
        font-weight: bold;
    }
    /* ワークス */
    .works_card {
        display: block;
    }
    .works_item {
        width: 90%;
        background: #FFF;
        border-radius: 3px;
        box-shadow: 0px 3px 6px 0px #9E9E9E;
        margin: 0 auto 40px;
    }
    .works_title {
        font-size: 1.2rem;
    }
    .works_wrapper p {
        font-size: .6rem;
    }
    .c-modal_content_inner h2 {
        font-size: 1.2rem;
    }
    .modal_list td {
        font-size: .8rem;
    }
    .modal_list td:first-child {
        font-weight: bold;
    }
    table th,
    table td{
      display: block;
    }
    tr > td, tr > td + td{
        padding: 10px;
    }
    td {
        width: 100%;
        font-size: 1.2rem;
        border: none;
    }
    td:first-child {
        width: 100%;
    }
    td:last-child {
        width: 100%;
    }
    tr > td, tr > td + td{
        padding: 10px;
    }

}

  

